<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Generado</title>
    <!-- Vincular CSS -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="qr-container">
        <h1>¡Código QR generado exitosamente!</h1>
        <p>Nombre: {{ nombre }}</p>
        <img src="{{ qr_path }}" alt="Código QR">
        <a href="/">Volver al inicio</a>
    </div>
</body>
</html>
